* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 25px 60px;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  margin-right: 60px;
  width: 100px;
}

.line {
  border-right: 2px solid #fff;
  height: 50px;
  position: absolute;
  left: 200px;
}

.grow-list {
  flex-grow: 2;
}

.list {
  display: flex;
}

.list-item {
  color: #fff;
  list-style-type: none;
  padding: 0 30px;
}

.button-small {
  padding: 8px 20px;
  margin-right: 15px;
  color: #fff;
  background-color: #BA0CC5;
  border: none;
  border-radius: 4px;
}

/* Hero Section */
.hero {
  height: 89vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  background: url("./assets/bg.png") no-repeat center center/cover;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  opacity: 1;
}

.hero-heading {
  position: relative;
  width: 900px;
  text-align: center;
  font-size: 70px;
  color: #fff;
  line-height: 1.2;
}

.hero-description {
  position: relative;
  color: #fff;
  margin-top: 10px;
  font-size: 26px;
}

.button-large {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-color: #BA0CC5;
  border: none;
  font-size: 25px;
  padding: 10px 22px;
  margin-top: 30px;
}


