* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  gap: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  margin: 3rem;
  margin-left: 5rem;
  width: 35%;
}

.line {
  border-right: 0.2rem solid #fff;
  height: 5rem;
  position: absolute;
  left: 20rem;
}

.grow-list {
  flex-grow: 2;
}

.list {
  display: flex;
}

.list-item {
  color: #fff;
  list-style-type: none;
  padding: 0 3rem;
  font-size: 1.6rem;
}

.button-small {
  padding: 0.8rem 2rem;
  margin-right: 1.5rem;
  color: #fff;
  background-color: #ba0cc5;
  border: none;
  border-radius: 0.4rem;
}

/* Hero Section */
.hero {
  height: 89vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  background: url('./assets/bg.png') no-repeat center center/cover;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  opacity: 1;
}

.hero-heading {
  position: relative;
  width: 60%;
  text-align: center;
  font-size: 7rem;
  color: #fff;
  line-height: 1.2;
}

.hero-description {
  position: relative;
  color: #fff;
  margin-top: 1rem;
  font-size: 2.6rem;
}

.button-large {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-color: #ba0cc5;
  border: none;
  font-size: 2.5rem;
  padding: 1rem 2.2rem;
  margin-top: 3rem;
}
